<div class="contact-form text-center container ">
  <h2>Login</h2>
  <form id="contactForm">
      <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required>
      </div>
      <div class="form-group">
          <label for="pawd">Apellido:</label>
          <input type="password" id="pwd" name="pwd" required>
      </div>

      <div class="form-actions">
          <button type="submit">Entrar</button>
      </div>

  </form>
</div>
