<!-- <mat-card *ngIf="prod; else noProduct" class="card" appearance="outlined" [routerLink]="['/adspecific', prod.idAd]">
  <mat-card-header class="m-2"> </mat-card-header>

  <mat-card-content>
    <p *ngIf=" prod.typeAd == 'PRODUCT'">Producto</p>
    <p *ngIf=" prod.typeAd == 'SERVICE'">Servicio</p>


    <img mat-card-image src='favicon.ico' alt="Foto del producto">
    <mat-card-subtitle class="title">{{ prod.title }}</mat-card-subtitle>
    <p class="mt-3 text-center">{{ prod.price | currency: 'EUR':'symbol' }}</p>
    <p>Estado: {{ prod.condition }}</p>
  </mat-card-content>


</mat-card>

<ng-template #noProduct>
  <p>No hay producto disponible</p>
</ng-template> -->



<!-- <mat-card *ngIf="prod; else noProduct" class="example-card" appearance="outlined" [routerLink]="['/product', prod.id]">
  <mat-card-header class="m-2">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title></mat-card-title>
    <mat-card-subtitle>{{ prod.nombre }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="mt-3-">
    <img mat-card-image src="mia.jpg" alt="Fotos productos" >
    <p class="mt-3">{{ prod.precio | currency:'EUR':'symbol' }}</p>
  </mat-card-content>
  <mat-card-footer class="text-center m-3">

  </mat-card-footer>
</mat-card>

<ng-template #noProduct>
  <p>No hay producto disponible</p>
</ng-template> -->

<mat-card *ngIf="prod; else noProduct" class="card" appearance="outlined" [routerLink]="['/adspecific', prod.id]">
  <mat-card-header class="m-2"> </mat-card-header>

  <mat-card-content>
    <p >Producto</p>

    <!-- Usamos la cadena base64 directamente como fuente de la imagen -->
    <!-- <img mat-card-image [src]="imageUrl || 'favicon.ico'" alt="Foto del producto"> -->
    <img mat-card-image src='favicon.ico' alt="Foto del producto">
    <mat-card-subtitle class="title">{{ prod.nombre }}</mat-card-subtitle>
    <p class="mt-3 text-center">{{ prod.precio | currency: 'EUR':'symbol' }}</p>
    <p>Estado: Nuevo</p>
  </mat-card-content>


</mat-card>

<ng-template #noProduct>
  <p>No hay producto disponible</p>
</ng-template>

