.spacer {
  flex: 1 1 auto;
}

.top-bar {
  height: 64px; /* Ajusta el alto de la barra superior */
}

.nav-bar {
  justify-content: left; /* Centra los botones del menú de navegación */
}

mat-toolbar {
  padding: 0 16px; /* Ajusta el espaciado interno del toolbar */
}

button[mat-button] {
  margin: 0 10px; /* Espaciado entre los botones del menú */
  font-size: 16px; /* Ajusta el tamaño de la fuente en los botones */
}
