<h2>Formulario de Contacto</h2>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
  <!-- Nombre -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name" placeholder="Ingresa tu nombre">
    <mat-error *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
      El nombre es requerido y debe tener al menos 3 caracteres.
    </mat-error>
  </mat-form-field>

  <!-- Correo Electrónico -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Correo Electrónico</mat-label>
    <input matInput type="email" formControlName="email" placeholder="Ingresa tu correo electrónico">
    <mat-error *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
      Por favor, ingrese un correo electrónico válido.
    </mat-error>
  </mat-form-field>

  <!-- Mensaje -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Mensaje</mat-label>
    <textarea matInput formControlName="message" placeholder="Escribe tu mensaje"></textarea>
    <mat-error *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
      El mensaje es requerido y debe tener al menos 10 caracteres.
    </mat-error>
  </mat-form-field>

  <!-- Botón de Enviar -->
  <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid">Enviar</button>
</form>
