<div class="contact-form text-center container ">
  <h2>Pago</h2>
  <form id="contactForm">
      <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required>
      </div>
      <div class="form-group">
        <label for="nombre">Diereccion:</label>
        <input type="text" id="dir" name="dir" required>
    </div>


      <div class="form-actions">
          <button type="submit">Pagar</button>
          <button type="reset">Cancelar</button>
      </div>

  </form>
</div>

